<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/my_profile_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>My Profile</title>
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <span class = "icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li>
                        <img src="/name_icon.PNG" alt="name_icon.PNG">
                        <a href = "/my_profile_page"><%= info.name%></a>
                    </li>
                    <li class = "current">
                        <img src="/profile_icon.png" alt="profile_icon.png">
                        <a href = "/my_profile_page">My Profile</a>
                    </li>
                    <li>
                        <img src="/register_icon.png" alt="register_icon.png">
                        <a href="/register_page">Register</a>
                    </li>
                    <li>
                        <img src="/courses_history_icon.png" alt="courses_history_icon.png">
                        <a href="/courses_history_page">Courses History</a>
                    </li>
                    <li>
                        <img src="/logout.png" alt="courses_history_icon.png">
                        <a href = "/student_login">Log Out</a>
                    </li>
                </ul>
        </div>
        </nav>
    </header>
    <main>
        <header>
            <h3>My Profile</h3>
        </header>
        <section>
            <h3>Information</h3>
            <div>
                <div>
                    <h4>Name:</h4>
                    <p><%= info.name%></p>
                </div>
                <div>
                    <h4>Class Standing:</h4>
                    <p><%= info.standing%></p>
                </div>
                <div>
                    <h4>Degree:</h4>
                    <p><%= info.degree%></p>
                </div>
                <div>
                    <h4>Level:</h4>
                    <p><%= info.level%></p>
                </div>
            </div>

            <div>
                <div>
                    <h4>Program:</h4>
                    <p><%= info.program%></p>
                </div>
                <div>
                    <h4>College:</h4>
                    <p><%= info.college%></p>
                </div>
                <div>
                    <h4>Major and Department:</h4>
                    <p><%= info.Mjr_dpt%></p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>